.expanded.row
  .columns.small-12
    .body
      .title= "#{@char.name} Status"

  .columns.small-2
    .body
      .status
        - t('character.attributes').each do |attribute, locale_name|
          %ul
            %li= locale_name
            %li
              .circle= @char.send(attribute)

  .columns.small-6
    .body
      .class_and_race
        %ul
          %li
            .class= "Class: #{@char.class_name}"
          %li
            .race= "Race: #{@char.race_name}"
          %li
            .level= "Level: #{@char.level}"
