.body
  .title Character Status

  .status
    %ul
      %li Strength
      %li
        .circle= @char.strength
    %ul
      %li Dexterity
      %li
        .circle= @char.dexterity
    %ul
      %li Constitution
      %li
        .circle= @char.constitution
    %ul
      %li Intelligence
      %li
        .circle= @char.intelligence
    %ul
      %li Wisdom
      %li
        .circle= @char.wisdom
    %ul
      %li Charisma
      %li
        .circle= @char.charisma

  .class_and_race
    .class= "Classe: #{@char.character_class.name}"
