.body
  %h1 Character Status

  .row
    = "Name: #{@char.show_name}"

  .row
    = "Strength: #{@char.strength}"

  .row
    = "Dexterity: #{@char.dexterity}"

  .row
    = "Constitution: #{@char.constitution}"

  .row
    = "Intelligence: #{@char.intelligence}"

  .row
    = "Wisdom: #{@char.wisdom}"

  .row
    = "Charisma: #{@char.charisma}"

  .row
    = "Level: #{@char.level}"

  .row
    = "items: #{@char.items.first.name}"
